@import 'bootstrap';
@import 'bootstrap/theme';

.content-container {
  background-image: url('/assets/images/blue-moutain.jpg');
  background-position: center;
  background-repeat: no-repeat center center fixed;
  background-size: cover;
  height: 600px;
}

.achievements {
  list-style: none;
  margin-top: 10px;
}

.single-achievement {
  background-color: #000;
  margin-top: 20px;
}

.dates {
  background-color: #fff;
  padding-right: 30px;
}

.app-title {
  color: #708090;
  padding-top: 50px;
  text-align: center;
}
