<div class="center">
  <h2 class="quote"><span class="quote-word">Achievement</span><br>
  A thing done successfully, typically by effort, courage or skill.
  <br> - <span class="reference">Google Dictionary</span></h2>
</div>
{{outlet}}
