<div class="all-goals">
  {{#link-to 'goal' goal}}
    <div class="goal-in-list">{{goal.title}}</div>
  {{/link-to}}
  <br>
  <h6 {{ action 'delete'}} class="delete-goal-button">Delete Goal</h6>
</div>
