<p>
  Welcome, 'Learn To' is designed to help you stay on track to accomplish your
  resolutions and goals. Make a resolution or set a goal, decide on a milestone
  that you'd like to achieve in 30 days and then add a daily achievement each day for the next 365 days. Add pictures, get motivational quotes and track your progress.
</p>
