<p>
  Welcome, 'three-sixty-five: Resolution Tracker' is designed to help you stay on track to accomplish your
  resolutions and goals. Make a resolution or set a goal and add a daily achievement each day for the next 365 days. Add pictures to keep you pumped up and track your progress. What will you achieve in the next 365 days?
</p>
