<h3>Goal: {{goal.title}}</h3>
{{#link-to 'goal/update-goal' goal}}
  <button class="btn btn-xs btn-warning">Update Goal</button>
{{/link-to}}
<p>Start Date: {{goal.startDate}}</p>
<p>End Date: {{goal.endDate}}</p>

<ul>
  {{#each goal.achievements as |achievement|}}
      {{goal-display/achievements-main  achievement=achievement
                                        delete='deleteAchievement'}}
  {{/each}}
</ul>

{{#link-to 'goal/new-achievement'}}
  <button class="btn btn-xs btn-primary">Add A Daily Achievement</button>
{{/link-to}}
