<h3 class="goal-title">
  Goal: {{goal.title}}
  {{#link-to 'goal/update-goal' goal}}
    <button class="btn btn-xs btn-warning">Update Goal</button>
  {{/link-to}}
</h3>
<br>
<h6>
  <span class="start dates">Start Date: {{goal.startDate}}</span>
  <span class="end dates">End Date: {{goal.endDate}}</span>
</h6>

<span class="achievement-word"><h3>Achievements</h3></span>
<ul>
  <li class="achievements">
    {{#each goal.achievements as |achievement|}}
      {{goal-display/achievements-main  achievement=achievement
                                        delete='deleteAchievement'}}
    {{/each}}
  </li>
</ul>

<div class="center">
  {{#link-to 'goal/new-achievement' goal}}
    <button class="btn btn-xs btn-secondary daily-add">Add A Daily Achievement</button>
  {{/link-to}}
</div>
