<h3>
  Goal: {{goal.title}}
  {{#link-to 'goal/update-goal' goal}}
    <button class="btn btn-xs btn-warning">Update Goal</button>
  {{/link-to}}
</h3>
<h5>
  <span class="dates">Start Date: {{goal.startDate}}</span>
  <span class="dates">End Date: {{goal.endDate}}</span>
</h5>

<ul>
  <li class="achievements">{{#each goal.achievements as |achievement|}}
      {{goal-display/achievements-main  achievement=achievement
                                        delete='deleteAchievement'}}
  {{/each}}</li>
</ul>

{{#link-to 'goal/new-achievement' goal}}
  <button class="btn btn-xs btn-primary">Add A Daily Achievement</button>
{{/link-to}}
