<h2>
  <span class="goal-word">My Goals</span>
  {{#link-to 'goals/new-goal'}}
  <button class="btn btn-xs btn-info">Create New Goal</button>
  {{/link-to}}
</h2>
<div >
  {{#each model as |goal|}}
    {{goals-main  goal=goal
                delete='deleteGoal'}}
  {{/each}}
</div>
